<div class="container">
  <div class="col-md-9 col-sm-12 mx-auto">
    <div class="card">
      <div class="card-header">
        Add New Element
      </div>
      <div class="card-body">
        <form [formGroup]="addElementForm" (ngSubmit)="onFormSubmit(addElementForm)">
          <div class="form-group">
            <label for="type">Type</label>
            <p-dropdown formControlName="type" styleClass="form-control" [options]="elementTypes" placeholder="Choose a type"></p-dropdown>
          </div>

          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" formControlName="title" placeholder="Title">
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="10" class="form-control" formControlName="description" placeholder="Description"></textarea>
          </div>

          <div class="form-group" formArrayName="languages">
            <label for="language">Languages</label>
            <p-multiSelect [options]="languagesList" (onChange)="onLanguagesSelect($event)" dataKey="name" [(ngModel)]="selectedLanguages" styleClass="form-control" [ngModelOptions]="{standalone: true}" optionLabel="name"></p-multiSelect>
          </div>

          <div class="form-group">
            <label for="content">Content</label>
            <textarea [froalaEditor] formControlName="content"></textarea>
          </div>

          <button type="submit" class="btn btn-success btn-large">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>